@use '../styles/variables.scss' as *;

.main {
  color: map-get($colors, 'primaryText');
  background-color: map-get($colors, 'backgroundLight');
  text-align: start;
  padding-top: 0.75em;

  .loginButton {
    text-transform: none;
    min-height: 3.5em;
    margin: 0%;
    margin-top: 1.5vh;
    --border-radius: 0px;
  }
}
.login-icon {
  margin-left: $marginSmall;
  align-self: center;
  color: map-get($colors, 'lightText');
  font-size: $text-large;
}

.remember-text {
  margin-left: $marginSmall + 1%;
}

.separator {
  border-bottom: 1px solid map-get($colors, 'mediumShadow');
  margin: 1.5vh $marginSmall;
  width: 90%;
}

.centered {
  align-items: center;
}

.remember {
  --background: #c9c9c9;
  --background-checked: #c9c9c9;

  --handle-background: #888888;
  --handle-background-checked: #333333;
}

.error {
  font-size: $text-small;
  color: map-get($colors, 'alertText');
}

@media only screen and (min-width: 960px) {
  .main {
    .loginButton {
      margin: 2.5vh auto;

      min-height: 2.5em;
      width: 45%;

      font-size: $text-large;
      color: map-get($colors, 'dark');

      --background: #fff;

      --border-radius: 25px;
      --border-width: 0.15em;
      --border-style: solid;
      --border-color: #1877c5;
    }
  }
}
