@use '../styles/variables.scss' as *;

.appContent {
  --background: url(/assets/images/background.jpg) no-repeat;
  background-color: map-get($colors, 'dark');
}

.login {
  margin: auto;
  min-width: $popup-min-width;
  max-width: $popup-max-width;
  align-self: center;
  padding-top: 2em;
  margin-top: 2vh;

  .frame {
    margin: auto;
    margin-bottom: 2em;
    width: 8em;
    height: 8em;
  }

  .logo {
    /* crop image */
    height: 100%;
    object-fit: cover;
    object-position: left;
  }

  .title {
    margin: auto;
    color: map-get($colors, 'dark');
    display: none;
  }
}

/* Large devices breakpoint (960px and up) */
@media only screen and (min-width: 960px) {
  .login {
    margin-top: 15vh;
    background-color: map-get($colors, 'backgroundLight');

    .frame {
      margin-bottom: 1em;
    }

    .title {
      display: block;
    }
  }

  .appContent {
    --background: url(/assets/images/background.jpg) no-repeat center top;
  }
}
