@use '../styles/variables.scss' as *;

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#appContent {
  --background: url(/assets/images/background.jpg) no-repeat center;
}

#login{
  margin: auto;
  min-width: 320px;
  max-width: 440px;
  align-self: center;
  padding-top: 2em;
}

#login #logo {
  margin: auto;
  margin-bottom: 2em;
	
  /* Image crop */
	object-fit: cover;
  width: 11em;
	height: 8em;
  object-position: 3em;

  /* position rectification */
  position: relative;
  left: -1.5em;
}

/* Large devices breakpoint (960px and up) */
@media only screen and (min-width: 960px) {
  #login{
    background-color: $backgroundLight;
  }

}
